textarea#mainInput {
  width: 40%;
  height: 100px;
  background: #eee;
  border: 1px solid #800;
}


.matchedChar {
  color: green;
}

.missedChar {
  color: red;
}

span.key {
  display: inline-block;
  border: 1px solid #333;
  background: #eee;
  padding: 5px;
  margin-top: 10px;
  margin-left: 3px;
}